
<!-- <div class="resize-container top-left" #container [style.width.px]="data.width" [style.height.px]="data.height">
  <div class="resize resize__bottom--right"
       (resize)="onResize($event)"
       [targetElement]="container"
       [direction]="AngularResizeElementDirection.BOTTOM_RIGHT"
  ></div>
  <div class="wrap">
    <div class="box"></div>
    <div class="circle"></div>
  </div>
</div> -->
<div class="app-wrapper">
  <div class="sidebar-wrapper">
    <app-sidebar></app-sidebar>
  </div>
  <div class="router-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>