<p-button
  (click)="isUpdate = false; displayBasic = true"
  icon="pi pi-plus"
  label="Create Chart"
  [disabled]="displayBasic"
></p-button>
<p-dialog header="Create new Chart" [(visible)]="displayBasic" [style]="{ width: '50vw' }" (onHide)='resetData()'>
  <div class="chart-create-setion">
    <div class="title formgroup">
      <span class="p-float-label">
        <input
          type="text"
          pInputText
          [(ngModel)]="title"
          style="text-transform: capitalize"
        />
        <label for="float-input">Chart Name</label>
      </span>
    </div>
    <div class="labels formgroup">
      <div class="p-float-label">
        <p-chips
          id="labels"
          [(ngModel)]="labels"
          separator=","
          [addOnBlur]="true"
        ></p-chips>
        <label for="labels" *ngIf="!isUpdate">X axis Labels</label>
      </div>
      <small id="labels-help"
        >Enter your X axis labels comma separatedly.</small
      >
    </div>
    <div *ngFor="let item of datasets; let i = index;">
      <div class="datasets">
        <div class="dataset">
          <div class="dataset-label formgroup">
            <span class="p-float-label">
              <input
                type="text"
                name="label_{{i}}"
                pInputText
                [(ngModel)]="item.label"
                style="text-transform: capitalize"
              />
              <label for="float-input">Dataset Label</label>
            </span>
            <p-colorPicker
              class="picker"
              name="border-color_{{i}}"
              [(ngModel)]="item.borderColor"
            ></p-colorPicker>
          </div>
          <div class="values">
            <span class="p-float-label">
              <p-chips
                id="values"
                name="values_{{i}}"
                [(ngModel)]="item.data"
                separator=","
                [addOnBlur]="true"
              ></p-chips>
              <label for="values" *ngIf="!isUpdate">Y axis Values</label>
            </span>
            <small id="values-help"
              >Enter your Y axis values comma separatedly.</small
            >
          </div>
        </div>
        <button
          *ngIf="i === 0"
          pButton
          class="add-btn"
          (click)="addDataset()"
          icon='pi pi-plus'
        ></button>
        <button
          *ngIf="i !== 0"
          pButton
          class="add-btn"
          (click)="deleteDataset(i)"
          icon='pi pi-minus'
          style="background: #F44336;"
        ></button>
      </div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button
      *ngIf="!isUpdate"
      icon="pi pi-check"
      (click)="createChart()"
      label="Create"
      styleClass="p-button-text"
    ></p-button>
    <p-button
      *ngIf="isUpdate"
      icon="pi pi-check"
      (click)="updateChart()"
      label="Update"
      styleClass="p-button-text"
    ></p-button>
  </ng-template>
</p-dialog>

<ng-container *ngIf="lineCharts.length; else noCharts">
  <section class="charts-section">
    <div 
      *ngFor="let lineChart of lineCharts; let idx = index" 
    >
    <!-- [ngStyle]="{'position' : idx === clicked && 'absolute'}"
      (mousedown)="handleMouseDown(idx)"
      (mouseup)="handleMouseUp()" -->
      <app-line-chart
        [idx]="idx"
        [chartData]="lineChart"
        (handleEditEmitter)="onEdit($event)"
        (handleDeleteEmitter)="onDelete($event)"
      ></app-line-chart>
    </div>
  </section>
</ng-container>
<ng-template #noCharts>
  <div style="padding: 20px;">
    <p>No charts yet</p>
  </div>
</ng-template>
