.charts-section {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
.chart-create-setion {
  padding-top: 25px;
  input {
    width: 100%;
  }
  .formgroup {
    margin-bottom: 25px;
  }
}
:host ::ng-deep .p-chips {
  width: 100%;
  ul {
    width: 100%;
  }
}