<header class="header">
  <div class="title">
    <h1>Dashboard</h1>
  </div>
  <div class="workspaces">
    <p-dropdown
      class="dropdown"
      [options]="workspaces"
      [(ngModel)]="selectedWorkspace"
      placeholder="Select Workspace"
    ></p-dropdown>
  </div>
</header>
<ng-container [ngSwitch]="selectedWorkspace">
  <ng-container *ngSwitchCase="'ws-chart'">
    <app-workspace-charts></app-workspace-charts>
  </ng-container>
  <ng-container *ngSwitchCase="'ws-table'">
    <app-workspace-tables></app-workspace-tables>
  </ng-container>
</ng-container>
